*{
    margin: 0;
    padding: 0;
}
#banner{
    background-image: url(./images/03.png);
    height: 900px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-hade{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.banner-main{
    text-align: center;
}
.banner-hade h1{
    
    font-size:35px ;
    font-family: cursive;
    font-weight: 700;
    transition: 5s all ease;
}
.banner-hade h1:hover{
    color:rgb(255, 0, 166);
    transition: 3s all ease;
}
.banner-hade p{
    color: rgb(0, 69, 133);
    font-size:18px ;
    font-family: cursive;
    font-weight: 400;
}
.main-btn{
    margin-top: 25px;
}
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
     background: linear-gradient(to right, #c33764, #1d2671);
    font-family: cursive;
    font-weight: 500;
    cursor: pointer;
    color: aliceblue;
    transition: 5s all ease
}
.btn:hover{
    background: linear-gradient(to right, #f1f2b5, #135058);
    transition: 3s all ease;
    color: black;
}